<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Red Sky</title>
    <link rel="stylesheet" type="text/css" href="/css/project.css">
</head>

<body>
    <h1>Fireball Map</h1>
    <!--This image is just a placeholder for the google maps api-->
    <img src="https://developers.google.com/maps/images/landing/hero_maps_static_api.png" alt="Google Maps Placer" width="1100" height="400"></img>

</body>