#regionMultiselect {
         width:200px;
        }
#energyMultiselect {
         width:200px;
        }
#selectBox {
         position:relative;        
        }
#selectBox select {        
         width: 100%;        
         font-weight: bold;        
        }
#overSelect {        
         position: absolute;        
         left:0; right:0; top:0; bottom:0;        
        }        
#checkboxes {        
         display: none;        
         border: 1px #dadada solid;        
        }        
#checkboxes label {        
         display: block;        
        }        
#checkboxes label:hover {        
         background-color: #1e90ff;        
        }
#selectBox2 {
         position:relative;        
        }
#selectBox2 select {        
         width: 100%;        
         font-weight: bold;        
        }        
#overSelect2 {        
         position: absolute;        
         left:0; right:0; top:0; bottom:0;        
        }        
#checkboxes2 {        
         display: none;        
         border: 1px #dadada solid;        
        }        
#checkboxes2 label {        
         display: block;        
        }        
#checkboxes2 label:hover {        
         background-color: #1e90ff;        
        }                
